extends layout

block content
    form(method='POST' action='/new')
        h3 Add new post
        .name-input
            label(for='name') Name
            input#name(type='text' required='true')
        .msg-input
            label(for='Message') Message
            textarea#message(required='true')
        button(type='submit') Submit
